@* @page
@model MyMvcApp.Views.Home.MyPage *@
@* 没有controller才需要@page和@model。 *@

@{
    ViewData["Title"] = "MyPage";
}

<h1>
    @* @ViewData["Title"] *@
    Welcome to my page
</h1>

<div>
    
</div>